html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
}

textarea {
  width: 100%;
  height: 90vh; /* Set the height to 90% of the viewport height */
  font-size: 1.2em; /* Set the font size to make the text more readable */
}