/* referenced in the content script */
.runaway {
  transition: 15s;
  transform: translateX(1000px);
}

/* popup */
.disco {
  animation: disco 1000ms;
  animation-iteration-count: infinite;
}

@keyframes disco {
  0% {
    background-color: red;
  }

  10% {
    background-color: orange;
  }

  20% {
    background-color: yellow;
  }

  30%{
    background-color: greenyellow;
  }

  40% {
    background-color: green;
  }

  50% {
    background-color: lightblue;
  }

  60% {
    background-color: blue;
  }

  70% { 
    background-color: purple;
  }

  80% {
    background-color: palevioletred;
  }

  90% {
    background-color: pink;
  }
}